<div class="row" th:fragment="finance"
	xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Finance Report</h5>

				<div class="card-tools">
					<button type="button" class="btn btn-tool"
						data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<div class="btn-group">
						<button type="button" class="btn btn-tool dropdown-toggle"
							data-toggle="dropdown">
							<i class="fas fa-wrench"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-right" role="menu">
							<a class="dropdown-item" id="purManufChart" style="cursor: pointer;">Purchase / Manufacture Report</a> 
							<!--  -->
							<a class="dropdown-item" id="purSellChart" style="cursor: pointer;">Purchase / Sell Report</a>
							<!--  -->
							<a class="dropdown-item" id="manufSellChart" style="cursor: pointer;">Manufacture / Sell Report</a> 
						</div>
					</div>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<p class="text-center">
							<strong id="reportTitle"></strong>
						</p>

						<div class="chart">
							<!-- Sales Chart Canvas -->
							<canvas id="salesChart" height="180" style="height: 180px;"></canvas>
						</div>
						<!-- /.chart-responsive -->
					</div>
					<!-- /.col -->
					<div class="col-md-4">
						<p class="text-center">
							<strong>Comparison</strong>
						</p>
						<canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- ./card-body -->
			<div class="card-footer">
				<div class="row">
					<div class="col-sm-3 col-6">
						<div class="description-block border-right">
							<!-- <span class="description-percentage text-success"><i
								class="fas fa-caret-up"></i> 17%</span> -->
							<h5 class="description-header" th:text="'Rs ' + ${ui.saleChartView.actualPurchaseAmount}"></h5>
							<span class="description-text">ACTUAL PURCHASE</span>
						</div>
						<!-- /.description-block -->
					</div>
					<!-- /.col -->
					<div class="col-sm-3 col-6">
						<div class="description-block border-right">
							<!-- <span class="description-percentage text-warning"><i
								class="fas fa-caret-left"></i> 0%</span> -->
							<h5 class="description-header" id="totalManufactureCost" th:text="'Rs ' + ${ui.saleChartView.manufactureCost}"></h5>
							<span class="description-text">TOTAL MANUFACTURE</span>
						</div>
						<!-- /.description-block -->
					</div>
					<!-- /.col -->
					<div class="col-sm-3 col-6">
						<div class="description-block border-right">
							<!-- <span class="description-percentage text-success"><i
								class="fas fa-caret-up"></i> 20%</span> -->
							<h5 class="description-header" th:text="'Rs ' + ${ui.saleChartView.sellCost}"></h5>
							<span class="description-text">TOTAL Sell</span>
						</div>
						<!-- /.description-block -->
					</div>
					<!-- /.col -->
					<div class="col-sm-3 col-6">
						<div class="description-block">
							<!-- <span class="description-percentage text-danger"><i
								class="fas fa-caret-down"></i> 18%</span> -->
							<h5 class="description-header" th:text="'Rs ' + ${ui.saleChartView.purchaseAmount}"></h5>
							<span class="description-text">TOTAL PURCHASE</span>
						</div>
						<!-- /.description-block -->
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.card-footer -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.col -->
	<script th:inline="javascript">
		/*<![CDATA[*/
$(document).ready(function() {
	
	var salesChartCanvas = $('#salesChart').get(0).getContext('2d')
	var salesChartData = {
	  labels  : [],
	  datasets: [
	    {
	      label               : '',
	      backgroundColor     : 'rgba(60,141,188,0.9)',
	      borderColor         : 'rgba(60,141,188,0.8)',
	      pointRadius          : false,
	      pointColor          : '#3b8bba',
	      pointStrokeColor    : 'rgba(60,141,188,1)',
	      pointHighlightFill  : '#fff',
	      pointHighlightStroke: 'rgba(60,141,188,1)',
	      data                : []
	    },
	    {
	      label               : '',
	      backgroundColor     : 'rgba(210, 214, 222, 1)',
	      borderColor         : 'rgba(210, 214, 222, 1)',
	      pointRadius         : false,
	      pointColor          : 'rgba(210, 214, 222, 1)',
	      pointStrokeColor    : '#c1c7d1',
	      pointHighlightFill  : '#fff',
	      pointHighlightStroke: 'rgba(220,220,220,1)',
	      data                : []
	    },
	  ]
	}
	var salesChartOptions = {
	  maintainAspectRatio : false,
	  responsive : true,
	  legend: {
	    display: true
	  },
	  scales: {
	    xAxes: [{
	      gridLines : {
	        display : false,
	      }
	    }],
	    yAxes: [{
	      gridLines : {
	        display : true,
	      }
	    }]
	  }
	}
	// This will get the first returned node in the jQuery collection.
	var salesChart = new Chart(salesChartCanvas, { 
	    type: 'bar', 
	    data: salesChartData, 
	    options: salesChartOptions
	  }
	)
	
	$("#purManufChart").click(function() {
		findPurManufCostData(salesChart);
	});
	$("#purSellChart").click(function() {
		findPurSellCostData(salesChart);
	});
	$("#manufSellChart").click(function() {
		findManufSellCostData(salesChart);
	});
	
	findPurManufCostData(salesChart);
	// function to update our chart
	function findPurManufCostData(chart) {
	    $.ajax({
			type: 'get',
			url: '/api/dashboard/findPurManufCostData',
			contentType: "application/json; charset=utf-8",
			traditional: true,
			success: function(response) {
				chart.data.labels = response.labels;
				chart.data.datasets[0].label='Purchase';
		        chart.data.datasets[0].data = response.purchaseCosts; 
		        chart.data.datasets[1].label='Manufacture';
		        chart.data.datasets[1].data = response.manufactureCosts;
		        chart.update();
		        $("#reportTitle").text('Report: ' + response.labels[0] + ' - ' + response.labels[response.labels.length-1]);
		        //
			}
		});
	}
	
	function findPurSellCostData(chart) {
	    $.ajax({
			type: 'get',
			url: '/api/dashboard/findPurSellCostData',
			contentType: "application/json; charset=utf-8",
			traditional: true,
			success: function(response) {
				chart.data.labels = response.labels;
				chart.data.datasets[0].label='Purchase';
		        chart.data.datasets[0].data = response.purchaseCosts; 
		        chart.data.datasets[1].label='Sell';
		        chart.data.datasets[1].data = response.sellCosts;
		        chart.update();
		        $("#reportTitle").text('Report: ' + response.labels[0] + ' - ' + response.labels[response.labels.length-1]);
		        //
			}
		});
	}
	
	function findManufSellCostData(chart) {
	    $.ajax({
			type: 'get',
			url: '/api/dashboard/findManufSellCostData',
			contentType: "application/json; charset=utf-8",
			traditional: true,
			success: function(response) {
				chart.data.labels = response.labels;
				chart.data.datasets[0].label='Manufacture';
		        chart.data.datasets[0].data = response.manufactureCosts; 
		        chart.data.datasets[1].label='Sell';
		        chart.data.datasets[1].data = response.sellCosts;
		        chart.update();
		        $("#reportTitle").text('Report: ' + response.labels[0] + ' - ' + response.labels[response.labels.length-1]);
		        //
			}
		});
	}
	
	 //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var servData = [];
    servData.push(/*[[${ui.saleChartView.actualPurchaseAmount}]]*/ );
    servData.push(/*[[${ui.saleChartView.manufactureCost}]]*/ );
    servData.push(/*[[${ui.saleChartView.sellCost}]]*/ );
    servData.push(/*[[${ui.saleChartView.purchaseAmount}]]*/ );
    var donutData        = {
      labels: [
          'Actual Purchase', 
          'Manufacture Cost',
          'Sell Cost', 
          'Overall Purchase'
      ],
      datasets: [
        {
          data: servData,
          backgroundColor : ['#f56954', '#f39c12', '#00a65a', '#3c8dbc'],
        }
      ]
    }
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = donutData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions      
    })
	
});
		/*]]>*/
	</script>
</div>
<!-- /.row -->