<div th:fragment="manufacture-list"
	xmlns:th="http://www.w3.org/1999/xhtml" class="col-md-12">
	<!-- general form elements-->
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Manufacture History</h3>
		</div>
		<!-- card-header-->
		<div class="card-body">
			<table class="table table-bordered table-striped"
				id="tblManufactureList">
				<thead>
					<tr>
						<th>Manufacture Id</th>
						<th>Product Name</th>
						<th>Manufacture Quantity</th>
						<th>Manufacture Cost</th>
						<th>Manufacture Date</th>
						<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>