<div th:fragment="purchase-list" xmlns:th="http://www.w3.org/1999/xhtml"
	class="col-md-12">
	<!-- general form elements-->
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Purchase History</h3>
		</div>
		<!-- card-header-->
		<div class="card-body">
			<table class="table table-bordered table-striped"
				id="tblPurchaseList">
				<thead>
					<tr>
						<th>Purchase Id</th>
						<th>Product Name</th>
						<th>Bill Number</th>
						<th>Purchase Quantity</th>
						<th>Amount Before Tax</th>
						<th>Gst Amount</th>
						<th>Discount Amount</th>
						<th>Payable Amount</th>
						<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>