<div th:fragment="sell-list" xmlns:th="http://www.w3.org/1999/xhtml"
	class="col-md-12">
	<!-- general form elements-->
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Sell History</h3>
		</div>
		<!-- card-header-->
		<div class="card-body">
			<table class="table table-bordered table-striped" id="tblSellList">
				<thead>
					<tr>
						<th>Sell Id</th>
						<th>Sell Date</th>
						<th>Is Amount Settled</th>
						<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>