<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="content">

		<div class="jumbotron" style="padding-top: 10px; padding-bottom: 0px;">
			<div class="row">
				<div
					th:replace="components/info-card :: simple(title='Total Customer', count=${ui.dashboardView.customerCount}, iconClass='fas fa-user', bgClass='bg-primary')"></div>
				<div
					th:replace="components/info-card :: simple(title='Total Product', count=${ui.dashboardView.productCount}, iconClass='fas fa-th-list', bgClass='bg-danger')"></div>
				<div
					th:replace="components/info-card :: simple(title='Sell Count', count=${ui.dashboardView.sellCount}, iconClass='fas fa-shopping-cart', bgClass='bg-success')"></div>
				<div
					th:replace="components/info-card :: simple(title='Available Product', count=${ui.dashboardView.availableProduct}, iconClass='fas fa-box', bgClass='bg-info')"></div>
			</div>
		</div>

		<div th:replace="components/sales-chart :: sale"></div>
	</div>
	<div layout:fragment="script">
		<script src="/plugins/chart.js/Chart.min.js"></script>
	</div>
</body>
</html>